<nav>
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">PORTAL</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about">ABOUT</a></li>            
            <li><a href="/posts">POSTS</a></li>            
            {% if session.logged_in %}
                <li><a href="/dashboard">DASHBOARD</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            {% else %}
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register">REGISTER</a></li>
            {% endif %}
        </ul>
    </div>
</nav>