{% extends 'layout.html' %}

{% block body %}
    <div class="card-panel z-depth-4">
        <h3>Who are we 🙄 ?</h3>
        <p>We are the team who created the <b>"PORTAL"</b> 💻  where each and every persons words matter!, We deliver the best stories and ideas on the topics you care about most straight to your homepage.</p>
        <h5>The Team</h5>
        <h6>Sheik Mohammed Adil 🙎🏽‍♂️</h6>
        <h6>Niyaz Mohammed 🙎🏽‍♂️</h6>
        <h6>Sourabha 🙎🏽</h6>
        <h6>Shamreena 🙎🏽</h6>
        <h6>Mubeena 🙎🏽</h6>
        <h6>Showreen 🙎🏽</h6>
        <h6>Nawal 🙎🏽</h6>
        <h6>Noorunisha 🙎🏽</h6>
        <h6>Rashmi 🙎🏽</h6>
    </div>
{% endblock %}