{% extends 'layout.html' %}

{% block body %}
    <div class="card-panel z-depth-4">
        <div class="row">
            <div class="col m7 s12">
                <h3>Welcome to PORTAL, where words matter.</h3>
                <p>We’ll deliver the best stories and ideas on the topics you care about most straight to your homepage.</p>
                <a href="/register" class="waves-effect waves-light btn-small">Get Started</a>  
                <a href="/about" class="blue waves-effect waves-light btn-small">Learn More</a>  
            </div>
            <div class="col m5 s12">
                <img src="https://www.stockvault.net/data/2010/08/16/114527/preview16.jpg" class="responsive-img" alt="">
            </div>
        </div>
    </div>
{% endblock %}